.banner{
    display: flex;
    width: 100vw;
    margin: 10px auto;
    height: 330px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.banner__img{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100vw;
    height: 330px;
    background-image: url(..//img/banner-image.png);
    background-size: 100% 330px;
    background-repeat: no-repeat;
}
.banner__info{
    display: flex;
    width: 1000px;
    height: 330px;
    margin: 10px auto;
    flex-direction: column;
    justify-content:end;
}
.banner__titulo{
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.banner__paragrph{
    color:#fff;
    font-size: 1rem;
    margin-bottom: 15px;
}
.banner__btn{
    display: block;
    width: 80px;
    padding: 12px 20px;
    margin-bottom: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    background-color: rgb(14, 105, 243);
    text-align: center;
}