.diversos{
    max-width: 1440px;
    margin: 0px auto;
    margin-top: 60px;
}
.diversos__container{
    max-width: 1136px;
    height: 306px;
    margin: 0 auto;
}
.diversos__cabecera{
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-between;
}
.diversos__titulo{
    width: 148px;
    height: 38px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
    margin-bottom: 15px;
}
.diversos__a{
    position: static;
    width: 65px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    text-decoration: none;
    cursor: pointer;
}
.fa-arrow-right{
    color: #2A7AE4;
}
.diversos__list{
    display: flex;
    justify-content: space-between;
    width: 1136px;
}
.diversos__description{
    width: 176px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin-bottom: 10px;
}
.diversos__price{
    width: 176px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    margin-bottom: 10px;
}
.diversos__link{
    text-decoration: none;
    width: 100px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    margin-bottom: 10px;
}
.diversos__img{
    width: 176px;
    height: 174px;
    background-size: cover;
    margin-bottom: 10px;
}
.diversos li:nth-child(1) .diversos__img{
    background-image: url(../img/Diversos/img1.png);
}
.diversos li:nth-child(2) .diversos__img{
    background-image: url(../img/Diversos/img2.png);
}
.diversos li:nth-child(3) .diversos__img{
    background-image: url(../img/Diversos/img3.png);
}
.diversos li:nth-child(4) .diversos__img{
    background-image: url(../img/Diversos/img4.png);
}
.diversos li:nth-child(5) .diversos__img{
    background-image: url(../img/Diversos/img5.png);
}
.diversos li:nth-child(6) .diversos__img{
    background-image: url(../img/Diversos/img6.png);
}