@media (max-width: 768px){
    .encabezado{
        width: 100%;
        margin: 0px auto;
        height: 72px;
    }
    .encabezado__container{
        height: 72px;
        padding: 0px 50px;
    }
    .encabezado__img{
        width: 95px;
    }
    .encabezado__busqueda{
        width: 272px;
    }
    .encabezado__login{
        width: 166px;
        height: 40px;
        box-sizing: border-box;
        
    }
    .encabezado__btnLogin{
        font-size: 14px;
    }
    .banner{
        width: 768px;
        height: 352px;
    }
    .banner__info{
        width: 704px;
    }
    .banner__btn{
        font-size: 14px;
    }
    .section1, .section2, .diversos{
        width: 768px;
    }
    .section1__container, .section2__container, .diversos__container{
        width: 704px;
    }
    .section1__list, .section2__list, .diversos__list{
        width: inherit;
    }
    .section1__titulo, .section2__titulo, .diversos__titulo{
        font-size: 26px;
    }
    .section1__a, .section2__a, .diversos__a{
        font-size: 16px;
    }
    .section1__img, .section2__img, .diversos__img{
        width: 164px;
    }
    .section1 li:nth-child(5), .section2 li:nth-child(5), .diversos li:nth-child(5){
        display: none;
    }
    .section1 li:nth-child(6), .section2 li:nth-child(6), .diversos li:nth-child(6){
        display: none;
    }
    .rodapie{
        width: 768px;
    }
    .rodapie__container{
        width: inherit;
        height: inherit;
    }
    .rodapie__list{
        display: initial;
    }
    .rodapie__list li:nth-child(1){
        width: 40%;
        margin-top: 30px;
        margin-left: 30px;
    }
    .rodapie__list li:nth-child(2){
        width: 40%;
        margin-left: 30px;
    }
    .rodapie__list li:nth-child(3){
        position: relative;
        top: -285px;
        right: -303px;
    }
    .rodapie__form{
        width: 60%;
    }
    .rodapie__inputName, .rodapie__inputMsg{
        width: 434px;
    }
    .footer{
        width: 768px;
        height: 102px;
    }
}
@media (max-width: 400px){
    .encabezado{
        width: 360px;
        box-sizing: border-box;
    }
    .encabezado__container{
        width: 100%;
        padding: 0px;
    }
    .encabezado__img {
        margin-left: 10px;
    }
    .encabezado__busqueda{
        display: none;
    }
    .encabezado__login{
        position: relative;
        left: -60px;
    }
    .fa-magnifying-glass{
        right: -240px;
        font-size: 25px;
        color: #464646;;
    }
    .banner{
        width: 400px;
        height: 185px;
    }
    .banner__img{
        width: 400px;
        height: 192px;
        background-size: 400px 192px;
    }
    .banner__info{
        width: 360px;
        height: 192px;
        margin-bottom: 0;
        padding-bottom: 15px;
    }
    .banner__titulo{
        width: 360px;
        height: 26px;
        font-size: 22px;
        margin-bottom: 0;
    }
    .banner__paragrph{
        width: 360px;
        height: 16px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .banner__btn{
        margin-top: 10px;
    }
    .section1, .section2, .diversos{
        width: 400px;
        height: auto;
    }
    .section1__container, .section1__list, .section2__container, .section2__list, .diversos__container, .diversos__list{
        width: 360px;
        height: 588px;
    }
    .section1__titulo, .section2__titulo, .diversos__titulo{
        font-size: 22px;
    }
    .section1__list, .section2__list, .diversos__list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .section1__img, .section2__img, .diversos__img{
        width: 156px;
    }
    .rodapie{
        width: 400px;
        height: 553px;
    }
    .rodapie__container{
        width: 360px;
        height: 521px;
    }
    .rodapie__list{
        width: 360px;
    }
    .rodapie__list li:nth-child(1), .rodapie__list li:nth-child(2){
        width: 100%;
        align-items: center;
    }
    .rodapie__list li:nth-child(1){
        display: flex;
        justify-content: center;
        margin: 10px 0 0;
    }
    .rodapie__list li:nth-child(2){
        margin-left: 0;
        height: 180px;
        margin-top: 10px;
        color: #464646;
    }
    .rodapie__list li:nth-child(3){
        position: initial;
        top: 0px;
        right: 0px;
    }
    .rodapie__form{
        width: 360px;
        margin-top: 20px;
    }
    .rodapie__LabelName{
        display: block;
        width: 360px;
    }
    .rodapie__inputName, .rodapie__inputMsg{
        width: 355px;
    }
    .footer{
        width: 400px;
        align-items: center;
        justify-content: center;
    }
    .footer__1, .footer__2{
        width:auto;

    }
}