.section2{
    max-width: 1440px;
    margin: 0px auto;
    margin-top: 60px;
}
.section2__container{
    max-width: 1136px;
    height: 306px;
    margin: 0 auto;
}
.section2__cabecera{
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
}
.section2__titulo{
    width: 148px;
    height: 38px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
    margin-bottom: 15px;
}
.section2__a{
    position: static;
    width: 65px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    text-decoration: none;
    cursor: pointer;
}
.fa-arrow-right{
    color: #2A7AE4;
}
.section2__list{
    display: flex;
    justify-content: space-between;
    width: 1136px;
}
.section2__description{
    width: 176px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin-bottom: 10px;
}
.section2__price{
    width: 176px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    margin-bottom: 10px;
}
.section2__link{
    text-decoration: none;
    width: 100px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    margin-bottom: 10px;
}
.section2__img{
    width: 176px;
    height: 174px;
    background-size: cover;
    margin-bottom: 10px;
}
.section2 li:nth-child(1) .section2__img{
    background-image: url(../img/Consolas/img1.png);
}
.section2 li:nth-child(2) .section2__img{
    background-image: url(../img/Consolas/img2.png);
}
.section2 li:nth-child(3) .section2__img{
    background-image: url(../img/Consolas/img3.png);
}
.section2 li:nth-child(4) .section2__img{
    background-image: url(../img/Consolas/img4.png);
}
.section2 li:nth-child(5) .section2__img{
    background-image: url(../img/Consolas/img5.png);
}
.section2 li:nth-child(6) .section2__img{
    background-image: url(../img/Consolas/img6.png);
}